/* Styles for screens wider than 768px */
@media (min-width: 768px) {
    .container {
      width: 70%;
      margin: 0 auto;
    }
    .content {
      float: left;
      width: 60%;
    }
    .sidebar {
      float: right;
      width: 40%;
    }
  }
  
  /* Styles for screens narrower than 768px */
  @media (max-width: 768px) {
    .container {
      width: 100%;
    }
    .content,
    .sidebar {
      float: none;
      width: 100%;
    }
  }
  .container {
    width: 80vw; /* 80% of the viewport width */
    margin: 0 auto;
  }
  
  .image {
    width: 100%; /* 100% of its container's width */
  }
  :root {
  --white: #ffffff;
  --salmon: #fc907e;
  --medium-purple: #9f6eed;

  --fs-1: 4rem;
  --fs-2: 3.2rem;
  --fs-3: 2.7rem;
  --fs-4: 2.4rem;
  --fs-5: 2.2rem;
  --fs-6: 2rem;
  --fs-7: 1.8rem;
  --fw-500: 500;
  --fw-700: 700;
  --section-padding: 15px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #151218;
}

.brand {
  color: white;
  background-image: linear-gradient(125deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Gradient 10s ease infinite;
  font-size: 20px;
  font-weight: bold;
}

.navmenu-wrapper {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.w-list-unstyled {
  padding-left: 0;
  list-style: none;
}

.nav-right {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
  align-items: center; /* Ensure vertical alignment */
}

.navmenu {
    flex: 1;
    justify-content: space-between;
    height: 70px;
    transition: all .2s;
    display: flex;
}

.nav-flex-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav-bg {
  z-index: -1;
  background-color: rgba(21, 18, 24, 0.8);
  width: 100%;
  height: 100%;
  /* position: absolute; */
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

@media screen and (min-width: 1440px) {
  .nav-container {
    max-width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
.nav-container {
    align-items: center;
    width: 100%;
    max-width: 1264px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px; /* Adjust padding for smaller screens */
    padding-right: 20px; /* Adjust padding for smaller screens */
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.navlink-item {
    align-items: center;
    height: 100%;
    padding: 5px 10px; /* Adjust padding for smaller screens */
    transition: all .3s;
    display: flex;
}
.navlink-item a {
  color: white; /* Ensure the anchor tags inside navlink-item are white by default */
  text-decoration: none; /* Remove underline from links */
}

.navlink-item a:hover {
  color: #fc907e; /* Change color on hover */
  transition: all 0.3s; /* Ensure smooth transition */
}

@media screen and (min-width: 1280px) {
  .text-medium {
    line-height: 25px;
  }
}

.b-dark:after {
  background: #151218;
}

.b-dark,
.b-dark:before {
  background: rgba(252, 144, 126, 1);
  background: -moz-linear-gradient(
    145deg,
    rgba(252, 144, 126, 1) 0%,
    rgba(159, 110, 237, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(252, 144, 126, 1)),
    color-stop(100%, rgba(159, 110, 237, 1))
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(252, 144, 126, 1) 0%,
    rgba(159, 110, 237, 1) 100%
  );
  background: -o-linear-gradient(
    145deg,
    rgba(252, 144, 126, 1) 0%,
    rgba(159, 110, 237, 1) 100%
  );
  background: -ms-linear-gradient(
    145deg,
    rgba(252, 144, 126, 1) 0%,
    rgba(159, 110, 237, 1) 100%
  );
  background: linear-gradient(
    145deg,
    rgba(252, 144, 126, 1) 0%,
    rgba(159, 110, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc907e', endColorstr='#9f6eed', GradientType=1 );
}

.btn-secondory {
  display: inline-block;
  position: relative;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.8s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-secondory:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
}

.btn-secondory:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}

.btn-secondory:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 30px;
  transition: all 0.5s;
}

.btn-secondory.no-border-bg:before {
  content: none;
}

.b-dark.no-border-bg:after {
  background: transparent;
}

.btn-secondory:after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border-radius: 30px;
  transition: all 0.5s;
}
.button-primary {
  background-color: transparent;
  background-image: linear-gradient(
    157deg,
    var(--salmon),
    var(--medium-purple)
  );
  color: var(--white);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  font-size: 16px;
  width: 95px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.35s;
  display: flex;
  transition: background-color 0.3s;
}
.button-primary:hover {
  color: black;
}
.w-button {
  color: #fff;
  line-height: 24px; /* Set the line height to the same value as in .button-primary */
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 50px; /* Adjust border-radius to match the other button */
  padding: 9px 35px; /* Adjust padding for better spacing */
  text-decoration: none;
  display: inline-block;
}

/* HERO */
.hero {
  padding-block-start: calc(var(--section-padding) + 60px);
  text-align: center;
  font-family: var(--ff-poppins);
}

.hero .container {
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero .hero-content {
  text-align: left;
}

.hero .hero-title {
  margin-block: 10px 45px;

  font-size: var(--fs-1);
  color: white;
}

.hero .section-subtitle {
  font-size: var(--fs-4);
  background-image: linear-gradient(125deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Gradient 10s ease infinite;
  font-size: 3rem;
}

.cta-button {
  padding: 20px 30px;
  font-size: 1rem;
  margin: 10px 25px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(
    145deg,
    rgba(252, 144, 126, 1) 0%,
    rgba(159, 110, 237, 1) 100%
  );
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.cta-button:hover {
  background: linear-gradient(
    145deg,
    rgba(159, 110, 237, 1) 0%,
    rgba(252, 144, 126, 1) 100%
  );
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-banner {
  position: relative;
  padding-inline-start: 30px;
  padding-block-end: 30px;
  max-width: 431px;
  margin-inline: auto;
}

.hero-banner .w-100 {
  border-radius: 10px 30px;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 0;
  left: 0;
  background-color: lightpink;
  border-radius: var(--radius-10);
  z-index: -1;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  color: var(--chinese-violet);
  font-size: 22px;
  padding: 24px;
  border-radius: 50%;
  transition: var(--transition-1);
  animation: pulse 3s ease infinite;
}

.play-btn:hover,
.play-btn:focus {
  color: var(--old-rose);
}

@keyframes pulse {
  0%,
  50% {
    box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0.5);
  }
  100% {
    box-shadow: 0 0 0 10px transparent;
  }
}
/* Key Problems Solved Section */
/* Container for horizontal cards */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
.container {
  outline-offset: 0px;
  outline: 3px #fff;
  width: 80rem;
  max-width: 1480px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.four-key-block-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

/* Individual card styles */
.four-key-block {
  border-radius: 20px;
  padding: 12px;
  width: calc(25% - 90px); /* 25% width with margin */
  margin-bottom: 20px;
  background-color: lavender;
}

/* Image styles */
.fk-image-wrapper {
  margin-bottom: 20px;
}

.fk-block-image {
  width: 56px;
  height: 56px;
}

/* Content styles */
.fk-content-wrapper {
  text-align: left;
}

.h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-medium {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}
.h3center {
  color: white;
  text-align: center;
  font-size: 45px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
#w-node-12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
/* Common Section Styles */
.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
  font-weight: 600;
}

/* Key Metrics Section */
/* .key-metrics-section {
    background-color: #000000;
    padding: 2rem 0;
} */
/* Common Section Styles */

.metrics-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.metric {
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  min-width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.metric::before {
  content: "";
  position: absolute;
  top: -75%;
  left: -75%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 150, 0.2),
    rgba(0, 204, 255, 0.2)
  );
  transform: rotate(45deg);
  transition: transform 1s ease;
  z-index: 0;
  filter: blur(10px);
}

.metric:hover::before {
  transform: rotate(405deg);
}

.metric:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.metric-icon-wrapper {
  position: relative;
  background-image: linear-gradient(149deg, #ff6f91, #845ec2);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem;
  z-index: 1;
}

.metric-icon {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.metric-info {
  position: relative;
  z-index: 1;
  text-align: center;
}

.metric-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.metric-description {
  font-size: 1rem;
  color: #555;
}
.svg {
  z-index: -1;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: 10rem;
  left: auto;
  right: 0%;
  filter: blur(10px);
}

img {
  max-width: 100%;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(0, 0, 0); */
}

.review-container {
  width: 80%;
  margin: 0 auto;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* align-items: center; */
  align-items: flex-start;
}

.review-title {
  margin: 40px 0px;
  width: 100%; /* Make the title take up the full width */
}

.review-title h2 {
  font-size: 50px;
  text-align: center; /* Center the text */
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}

/* padding: 12px;
width: calc(25% - 90px);
margin-bottom: 20px;
background-color: lavender; */
.review {
  width: calc(102% - 90px);
  height: 35rem;
  line-break: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: lavender;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
  font-family: "Open Sans", sans-serif;
  border-radius: 20px;
  border: 3px solid rgb(169, 7, 169);
}

#person-img {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
}

#author {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 10px;
}

#job {
  background-image: linear-gradient(125deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Gradient 10s ease infinite;
  font-size: 20px;
  font-weight: 600;
}

#info {
  height: 100px;
  font-size: 18px;
  color: #555;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  text-decoration: none;
  border-style: none;
  /* background-color: #fff; */
  font-size: 30px;
  background-color: transparent;
  margin: 25px 10px;
  top: 10rem;
  color: #177a29;
  cursor: pointer;
}
.review-button-container {
  margin-top: 4rem;
}
.hp-slider-arrow.left {
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(-180deg) rotate(0);
}
.problem-target-section {
  /* background: linear-gradient(to right, #ffffff, #f0f0f0);  */
  /* padding: 60px 0; */
}

.accordion-container {
  max-width: 800px;
  margin: 0 auto;
}
.text {
  text-align: center;
  font-size: 50px;
  margin-left: 40px;
}

.accordian {
  margin: 60px auto;
  width: 600px;
}

.accordian li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background: lavender;
  /* box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7); */
  transition: 0.3s ease-in-out;
}

.accordian li:hover {
  transform: scale(1.1);
}

.accordian li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  position: relative;
  background-image: linear-gradient(125deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.accordian li:hover label {
  color: lavender;
}

label::before {
  content: "+";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.accordian input[type="radio"] {
  display: none;
}

.accordian .content {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.accordian input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
  opacity: 1;
  transform: scaleY(1);
}

.accordian input[type="radio"]:checked + label::before {
  content: "-";
}
.pt-title h2 {
  font-size: 50px;
  text-align: center; /* Center the text */
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}

.cta-button2 {
  padding: 20px 10px;
  font-size: 1rem;
  margin: 10px 45px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(
    145deg,
    rgba(252, 144, 126, 1) 0%,
    rgba(159, 110, 237, 1) 100%
  );
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: center;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.cta-button2:hover {
  background: linear-gradient(
    145deg,
    rgba(159, 110, 237, 1) 0%,
    rgba(252, 144, 126, 1) 100%
  );
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.gc-slider-bg {
  height: 160%;
  position: absolute;
  top: 165rem;
  bottom: 0%;
  left: 0%;
  right: auto;
}
.cta-container {
  background: linear-gradient(114deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 15px;
  padding: 120px 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 55px 120px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cta-content h3 {
  color: white;
  font-size: 55px;
  line-height: 72px;
  margin-bottom: 50px;
}

.cta-content p {
  color: white;
  font-size: 16px;
  margin-bottom: 45px;
  line-height: 1.5;
  padding: 0 110px;
}

.cta-button3 {
  background-color: black;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #333;
}

/* Footer styles */
footer {
  padding: 40px 0;
  position: relative;
  overflow: hidden;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(255, 255, 255, 0.4); */
  z-index: 1;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.company-info,
.company-address {
  width: 45%;
}

h2 {
  background-image: linear-gradient(125deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Gradient 10s ease infinite;
  font-size: 3rem;
}

p,
address {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.6;
  color: white;
}

address {
  font-style: normal;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .company-info,
  .company-address {
    width: 100%;
    text-align: center;
  }

  .company-address address {
    font-size: 14px;
  }
}

/* Icon styles */
.footer-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer-icons a:hover {
  color: #ffffff;
}
